{% extends 'admin/base_site.html' %}
{% block branding %}{% include 'myvote/navbar.html' %}{% endblock branding %}
{% block title %}Create Venue{% endblock title %}

{% block breadcrumbs %}
    <div class="breadcrumbs" style="color:lightyellow; font-size:16px; padding-left:50px">
        Create Venue
    </div>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="form-group">
            <form action="{% url 'venue_create' %}" method="POST">
                {% csrf_token %}
                <table>{{ form.as_table }}</table><br>
                <input type="submit" value="Save">
                <input type="button" value="Back" onClick=window.location.href="{% url 'venue_list' %}">
            </form>
        </div>
    {% else %}
        <h3>Please login to create a venue</h3>
        <input type="button" value="Back" onClick=window.location.href="{% url 'venue_list' %}">
    {% endif %}

{% endblock content %}
