{% extends "admin/base_site.html" %}

{% block title %}findDistrict{% endblock %}


{% block breadcrumbs %} <!-- see base/app_index.html -->
    <div class="breadcrumbs">
        <a href="{% url 'menu_main' %}">Menu</a>  &rsaquo;
        <a href="{% url 'menu_main' %}">Meetups</a> &rsaquo;
        <a>Find Member of Congress</a>
    </div>
{% endblock %}


{% block content %}

<h1>Find Member of Congress from ZIPcode<br></h1>

<form action = "" method = POST>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>

{% endblock %}
