{% extends 'myvote/base_site.html' %}
{% load static %}
{% block branding %}{% include 'myvote/navbar.html' %}{% endblock branding %}
{% block title %}Define Campaigns{% endblock title %}
{% block page_heading %}Define Campaigns{% endblock page_heading %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <div class="form-group">
        <form method="POST" action="{% url 'campaign_define' %}">
            {% csrf_token %}
            <input type="button" value="Back" onclick="history.back()">&nbsp
            {% if user.is_authenticated %}
                <input type="submit" value="Delete">&nbsp
                <input type="button" value="Add" onClick=window.location.href="{% url 'campaign_create' %}">
            {% endif %}<br><br>
            <table><tbody class="textbox">
                {% for campaign in campaign_list %}
                        <tr>
                        {% if user.is_authenticated and user == campaign.owner %}
                            <td><input type="checkbox" name="delete" value="{{campaign.id}}"></td>
                        {% else %}
                            <td>&nbsp</td>
                        {% endif %}
                        <td>{{campaign.name}}</td>
                        <td>{{campaign.owner}}</td>
                    </tr>
                {% endfor %}
            </tbody></table><br>

        </form>
    </div>

    <br>
    <div class="textbox">
        <p>These are simply categories to group contacting, and reporting</p>
        <p><b>[Add]</b> lets you send another campaign (category)</p>
        <p><b>[Delete]</b> deletes checked off rows (you can only delete your own)</p>
    </div>
    
{% endblock content %}

<!-- <input type="button" value="Back" onClick=window.location.href="{% url 'post_list' %}"> -->
