{% extends 'admin/base_site.html' %}
{% block branding %}{% include 'myvote/navbar.html' %}{% endblock branding %}
{% block title %}Update {{ post.title }}{% endblock title %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'post_list' %}">&nbsp&nbspMenu</a> &rsaquo;
        <a href="{% url 'category_list' %}">Categories</a> &rsaquo;
        <a>Add</a>
    </div>
{% endblock %}

{% block content %}

    <h1>Update {{ post.title }}</h1>
    <br>
    {% if user.is_authenticated and post.author.id == user.id %}
        <div class="form-group">
            <form action="{% url 'post_update' post.pk %}" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.media }} <!-- for RichTextField editor in body field -->
                    {{ form.as_table }}
                </table><br>
                <input type="button" value="Back" onClick=window.location.href="{% url 'post_detail' post.pk %}">
                <input type="submit" value="Save">
            </form>
        </div>
    {% else %}
        <h2>Please login to edit post</h2>
    {% endif %}

{% endblock content %}
