{% extends 'myvote/base_site.html' %}
{% load static %}
{% block branding %}{% include 'myvote/navbar.html' %}{% endblock branding %}
{% block title %}List Team Members{% endblock title %}
{% block page_heading %}List Team Members{% endblock page_heading %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<div class="form-group">
    <form method="POST" action="{% url 'team_add_members' %}">
        {% csrf_token %}
        <table>

        <!-- buttons -->
        <input type="button" value="Back" onclick="history.back()">&nbsp
        <input type="button" value="Add" onClick=window.location.href="{% url 'team_add_members' %}">&nbsp
        <br><br>

        <!-- list of venues -->
        <thead class="thead_border">
        <tr>
            <th><a href="{% url 'team_list_members' %}?column=first_name">First Name</a></th>
            <th><a href="{% url 'team_list_members' %}?column=last_name">Last Name</a></th>
            {% if request.user.is_authenticated %}
                <th><a href="{% url 'team_list_members' %}?column=district">District</a></th>
                <th><a href="{% url 'team_list_members' %}?column=zipcode">ZIPcode</a></th>
                <th><a href="{% url 'team_list_members' %}?column=role">Role</a></th>
                <th>Phone</th>
                <th>Email</th>
            {% else %}
                <th>District</th>
                <th>ZIPcode</th>
                <th><a href="{% url 'team_list_members' %}?column=role">Role</a></th>
            {% endif %}
            </tr>
        </thead>
        <tbody class="tbody_border">
        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.userextension.district }}</td>
                <td>{{ user.userextension.zipcode }}</td>
                <td>{{ user.userextension.role }}</td>
                {% if request.user.is_authenticated %}
                    <td>{{ user.userextension.cell }}</td>
                    <td>{{ user.email }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </form>
</div>

{% endblock content %}

